In [1]:
from services import RestCountriesService

In [3]:
import pandas as pd

In [4]:
service = RestCountriesService()

In [5]:
df = pd.DataFrame(service.get_all().response)

In [6]:
df.head()

,name,tld,cca2,ccn3,cca3,cioc,independent,status,unMember,currencies,...,gini,fifa,car,timezones,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode
0,"{'common': 'Montenegro', 'official': 'Monteneg...",[.me],ME,499,MNE,MNE,True,officially-assigned,True,"{'EUR': {'name': 'Euro', 'symbol': '€'}}",...,{'2016': 38.5},MNE,"{'signs': ['SCG'], 'side': 'right'}",[UTC+01:00],[Europe],"{'png': 'https://flagcdn.com/w320/me.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [42.43, 19.27]}","{'format': '#####', 'regex': '^(\d{5})$'}"
1,"{'common': 'Tokelau', 'official': 'Tokelau', '...",[.tk],TK,772,TKL,NaN,False,officially-assigned,False,"{'NZD': {'name': 'New Zealand dollar', 'symbol...",...,NaN,NaN,"{'signs': [''], 'side': 'left'}",[UTC+13:00],[Oceania],"{'png': 'https://flagcdn.com/w320/tk.png', 'sv...",{},monday,"{'latlng': [-9.38, -171.22]}",NaN
2,"{'common': 'Cuba', 'official': 'Republic of Cu...",[.cu],CU,192,CUB,CUB,True,officially-assigned,True,"{'CUC': {'name': 'Cuban convertible peso', 'sy...",...,NaN,CUB,"{'signs': ['C'], 'side': 'right'}",[UTC-05:00],[North America],"{'png': 'https://flagcdn.com/w320/cu.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [23.12, -82.35]}","{'format': 'CP #####', 'regex': '^(?:CP)*(\d{5..."
3,"{'common': 'Guadeloupe', 'official': 'Guadelou...",[.gp],GP,312,GLP,NaN,False,officially-assigned,False,"{'EUR': {'name': 'Euro', 'symbol': '€'}}",...,NaN,NaN,"{'signs': ['F'], 'side': 'right'}",[UTC-04:00],[North America],"{'png': 'https://flagcdn.com/w320/gp.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [16.03, -61.73]}","{'format': '#####', 'regex': '^((97|98)\d{3})$'}"
4,"{'common': 'Greece', 'official': 'Hellenic Rep...",[.gr],GR,300,GRC,GRE,True,officially-assigned,True,"{'EUR': {'name': 'Euro', 'symbol': '€'}}",...,{'2018': 32.9},GRE,"{'signs': ['GR'], 'side': 'right'}",[UTC+02:00],[Europe],"{'png': 'https://flagcdn.com/w320/gr.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [37.98, 23.73]}","{'format': '### ##', 'regex': '^(\d{5})$'}"

In [10]:
df['name'][0]['common']

'Montenegro'

In [82]:
import hashlib

import time


def transform_dataframe_countries_rest(df):
    def hash(str):
        _str = str
        try:
            return hashlib.sha1(_str).hexdigest()
        except  Exception:
            _str = str.encode()
            return hashlib.sha1(_str).hexdigest()
        

    new_df = pd.DataFrame()
    new_df['City_Name'] = df['name'].apply(lambda x: x['common'])
    new_df['Region'] = df['region']
    new_df['languages'] = ''
    new_df['time'] = 0
    for index, row in enumerate(df['languages']):
        start_time = time.time()
        if type(row) is not float:
            new_df['languages'][index] = hash(','.join(row.values()))
        end_time = time.time()
        new_df['time'][index] = end_time - start_time
    return new_df

In [83]:
n = transform_dataframe_countries_rest(df)

/home/miguel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/miguel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
n.head()

    City_Name    Region                                 languages  time
0  Montenegro    Europe  f617672f7c9487885f593d5d61b5b420236d4505     0
1     Tokelau   Oceania  2a85de2b152f586176191401fce80fccf9030b78     0
2        Cuba  Americas  8df7f1b361b2af42d36011e00d22c0f9891ec0b0     0
3  Guadeloupe  Americas  44389f6a466eaabf5c1db729e369511134e2b03b     0
4      Greece    Europe  59d5f5b13f13f6d5e8e88a5a92e137f7d64b2954     0

In [18]:
df.columns

Index(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'cioc', 'independent', 'status',
       'unMember', 'currencies', 'idd', 'capital', 'altSpellings', 'region',
       'subregion', 'languages', 'translations', 'latlng', 'landlocked',
       'borders', 'area', 'demonyms', 'flag', 'maps', 'population', 'gini',
       'fifa', 'car', 'timezones', 'continents', 'flags', 'coatOfArms',
       'startOfWeek', 'capitalInfo', 'postalCode'],
      dtype='object')

In [19]:
df['languages']

0                                 {'cnr': 'Montenegrin'}
1      {'eng': 'English', 'smo': 'Samoan', 'tkl': 'To...
2                                     {'spa': 'Spanish'}
3                                      {'fra': 'French'}
4                                       {'ell': 'Greek'}
                             ...
245                    {'eng': 'English', 'glv': 'Manx'}
246                                    {'fra': 'French'}
247                                   {'eng': 'English'}
248                                    {'ara': 'Arabic'}
249                                   {'eng': 'English'}
Name: languages, Length: 250, dtype: object

In [67]:
angola = 'Portuguese'

In [68]:
import hashlib

In [69]:
print(hashlib.sha1(angola).hexdigest())

TypeError: Unicode-objects must be encoded before hashing